<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>น้ำดื่มไทยแลนด์ POST Add Item</title>
</head>
<body>
    <% if(typeof mesg != "undefined") { %>   
    <h1><%= mesg %></h1>   
    <% } %>
    <form action="/additem" method="post">
        <div>
            <label>id</label>
            <input type="text" name="id" id="id">
        </div>
        <div>
            <label>name</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label>tagline</label>
            <input type="text" name="tagline" id="tagline">
        </div>
        <div>
            <label>description</label>
            <input type="text" name="description" id="description">
        </div>
        <div>
            <label>image</label>
            <input type="text" name="image" id="image">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>